<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$title$ - jacobwalte.rs</title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.png">
        <link rel="stylesheet" href="/css/tufte.css" />
        <meta name="description" content="$description$">
    </head>
    <body>
	<a name="top"></a>
        <header>
            <div class="logo">
                <a href="/">jacobwalte.rs</a>
            </div>
            <nav>
                <a href="/">Home</a>
                <a href="/about.html">About</a>
                <a rel="me" href="/contact.html">Contact</a>
                <a href="/archive.html">Archive</a>
            </nav>
        </header>

        <main role="main">
            <section>
                <h1>$title$</h1>
                $body$
            </section>
        </main>

        <footer>
            <a href="#top">top</a> | <a href="/">home</a>
        </footer>
    </body>
</html>
